<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isUserLoggedIn">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list" *ngIf="isUserLoggedIn">Shopping List</a></li>
                <li routerLinkActive="active"><a routerLink="/auth" *ngIf="!isUserLoggedIn">Authenticate</a></li>
                <li routerLinkActive="active"><a routerLink="/register" *ngIf="!isUserLoggedIn">Register</a></li>
                <li routerLinkActive="active"><a routerLink="/logout" *ngIf="isUserLoggedIn">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdownDirective>
                    <a  class="dropdown-toggle" role="buttton" style="cursor: pointer;">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>