<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div>
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email" >Email</label>
                <input class="form-control" type="text" id="username" name="username" ngModel #username="ngModel" required>
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                <input class="form-control" type="password" id="password" name="password"  ngModel #password="ngModel" required>
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="f.invalid">Log In</button> | <button class="btn btn-primary" routerLink="/register" type="button">Switch To Sign Up</button>
            </div>
        </form>
    </div>
</div>