<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" />
    </div>
</div>
<div class="col-xs-12">
    <h1>{{name}}</h1>
</div>
<div class="col-xs-12">
    <div class="btn-group" appDropdownDirective>
        <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipes<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a (click) = "onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
            <li><a style="cursor: pointer;" (click)= "onEditRecipe()">Edit Recipe</a></li>
            <li><a style="cursor: pointer;" (click)="deleteRecipe()">Delete Recipe</a></li>
        </ul>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group" *ngFor="let ingredient of ingredients">
            <li class="list-group-item">
                {{ingredient.name}}- {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>