<div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
   <ul class="list-group" *ngFor="let ingredient of ingredients | paginate:{itemsPerPage: 6, currentPage:p}; ">
       <li><a class="list-group-item" style="cursor: pointer;" (click)="onEditItem(ingredient.id)">{{ingredient.name}} ({{ingredient.amount}})</a></li> 
   </ul>
   <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>