<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div>
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" ngModel id="username" name="username" #username="ngModel" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" ngModel name="email" id="email" #email="ngModel" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" ngModel required #password="ngModel">
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="f.invalid">Register</button> | <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
            </div>

        </form>
    </div>
</div>