<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click) = "onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr> 
<div class="row">
    <div class="col-xs-12" *ngFor="let recipeEL of recipes"> 
        <app-recipe-item [recipe] = "recipeEL" routerLinkActive="active"></app-recipe-item>
    </div>
</div>